<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.partyeer.presentation">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application>
        <activity
            android:name=".ui.main.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.activity.CreatePartyActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Partyeer" />

        <activity
            android:name=".ui.main.activity.PartyMapsActivity"
            android:exported="true"
            android:label="@string/Maps"
            android:theme="@style/Theme.Partyeer" />

        <activity
            android:name=".ui.main.activity.PartyDetailActivity"
            android:exported="true"
            android:label="@string/party_details"
            android:theme="@style/Theme.Partyeer" />
    </application>
</manifest>